@model TaskManager.Models.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SourceOutgoingDocumentNumber" class="control-label"></label>
                <input asp-for="SourceOutgoingDocumentNumber" class="form-control" />
                <span asp-validation-for="SourceOutgoingDocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceOutgoingDocumentDate" class="control-label"></label>
                <input asp-for="SourceOutgoingDocumentDate" class="form-control" />
                <span asp-validation-for="SourceOutgoingDocumentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceCustomer" class="control-label"></label>
                <input asp-for="SourceCustomer" class="form-control" />
                <span asp-validation-for="SourceCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceTaskText" class="control-label"></label>
                <input asp-for="SourceTaskText" class="form-control" />
                <span asp-validation-for="SourceTaskText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SourceIsExternal" /> @Html.DisplayNameFor(model => model.SourceIsExternal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SourceOutputDocumentNumber" class="control-label"></label>
                <input asp-for="SourceOutputDocumentNumber" class="form-control" />
                <span asp-validation-for="SourceOutputDocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceOutputDocumentDate" class="control-label"></label>
                <input asp-for="SourceOutputDocumentDate" class="form-control" />
                <span asp-validation-for="SourceOutputDocumentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceDueDate" class="control-label"></label>
                <input asp-for="SourceDueDate" class="form-control" />
                <span asp-validation-for="SourceDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceResponsibleEmployeeId" class="control-label"></label>
                <select asp-for="SourceResponsibleEmployeeId" class ="form-control" asp-items="ViewBag.SourceResponsibleEmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OutputOutgoingNumber" class="control-label"></label>
                <input asp-for="OutputOutgoingNumber" class="form-control" />
                <span asp-validation-for="OutputOutgoingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputOutgoingDate" class="control-label"></label>
                <input asp-for="OutputOutgoingDate" class="form-control" />
                <span asp-validation-for="OutputOutgoingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputSentTo" class="control-label"></label>
                <input asp-for="OutputSentTo" class="form-control" />
                <span asp-validation-for="OutputSentTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputTransferredInWorkOrder" class="control-label"></label>
                <input asp-for="OutputTransferredInWorkOrder" class="form-control" />
                <span asp-validation-for="OutputTransferredInWorkOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputResponseSubmissionMark" class="control-label"></label>
                <input asp-for="OutputResponseSubmissionMark" class="form-control" />
                <span asp-validation-for="OutputResponseSubmissionMark" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUnderControl" /> @Html.DisplayNameFor(model => model.IsUnderControl)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
